<h4>Esqueceu sua senha?</h4>

<p>
  Foi solicitado um pedido de recupreação de senha, caso você não tenha feito por favor desconsidere este e-mail, mas 
  caso você tenha solicitado clique no link abaixo e defina uma nova senha
</p>

<p>
  <%= link_to 'Gerar nova senha', "#{ENV.fetch('FRONTEND_URL', 'http://localhost:3000')}/new_password?reset_token=#{@token}" %>
</p>
